@font-face {
  font-family: 'Roboto';
  src: local("Roboto-Regular"),
  url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}
  
@font-face {
  font-family: 'Roboto';
  src: local("Roboto-Italic"),
  url('../fonts/Roboto-Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto';
  src: local("Roboto-Bold"),
  url('../fonts/Roboto-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'Roboto';
  src: local("Roboto-BoldItalic"),
  url('../fonts/Roboto-BoldItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: 'Roboto';
  src: local("Roboto-Black"),
  url('../fonts/Roboto-Black.ttf') format('truetype');
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: 'Roboto';
  src: local("Roboto-BlackItalic"),
  url('../fonts/Roboto-BlackItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 900;
}
@font-face {
  font-family: 'Roboto';
  src: local("Roboto-Light"),
  url('../fonts/'Roboto-Light.ttf) format('truetype');
  font-style: normal;
  font-weight: 300;   
}
@font-face {
  font-family: 'Roboto';
  src: local("Roboto-LightItalic"), 
  url('../fonts/Roboto-LightItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: 'Roboto';
  src: local("Roboto-Medium"),
  url('../fonts/Roboto-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'Roboto';
  src: local("Roboto-MediumItalic"),
  url('../fonts/Roboto-MediumItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 500;
}


body {
 font-family: 'Roboto', sans-serif;
 background-color: #849d8f;
 font-size: 18px;
 font-weight: 700;
 line-height: 22px;
 color: #fff;
 padding: 0;
 margin: 0;
}
a {
  color: #fff;
}

/* ============================================FONTS=========================*/
/** {
  outline: 2px dotted #f0f;
}*/
.index-items {
}
.main-navigation {
  font-size: 16px;
} 
.user-block,
.name-filter {
  font-size: 14px;
  font-weight: 500;
  
}
.shedule {
  font-size: 0;
}
.shedule p {
  font-size: 14px;
}
.shedule span {
  font-size: 22px;
  
}




.title-promo,
.title-catalog {
  font-size: 35px;
}
.item-description,
.values-form,
.btn-apply,
.paginator {
  font-size: 16px; 
  font-weight: 500;
}


.img-item span {
  font-size: 45px;
}
.title-features {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #323232;
}
.post-feature {
  font-weight: 400;
  line-height: 21px;
  color: #323232;
  
}
.title-news {
  font-weight: 500;
  color: #323232;
}
.index-news p > a{
  font-size: 24px;
  color: #323232;
}
.index-subscribe p {
  color: #5a5a5a;
  font-weight: 400;
}
.index-address  p,
.index-address p > .link-phone
 {
  color: #323232;
  font-size: 14px;
  font-weight: 400;
}
.index-address p > strong,
.index-address p > .link-phone {
  font-size: 18px;
}
.footer-menu {
  font-size: 13px;
  color: #fff;
  font-weight: 400;
}
.footer-copyright {
  font-size: 12px;
  color: #fff;
  font-weight: 400;
}
.catalog-breadcrumbs {
  font-size: 14px;
  font-weight: 400;
}

/* ===========================^^^^^========FONTS========================^^^=*/

.container {
  padding: 0 10px;
  margin: 0 auto;
  width: 1180px;

}



.index-logo {
  margin-top: 10px;
  width: 154px;
  height: 64px;
  margin-right: 14px;
}
.index-logo img {
  width: 154px;
  height: 64px;  
}
.main-header-layout {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-navigation a,
.footer-menu a,
.academylink {
  
  /*box-shadow: 0px -2px 0px 0px rgba(159, 180, 169, 0.5) inset;*/
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-decoration: none;

  
}
.main-navigation {
  margin-top: 30px;
  margin-right: auto;
}
.main-navigation ul {
  padding: 0;
  margin: 0;
  font-size: 0;
}
.main-navigation li {
  display: inline-block;
  margin-right: 25px;
  vertical-align: middle;
  font-size: 16px;
}
.index-list {
  position: absolute;
  top: 70%;
  left: 18.5%;
  list-style: none;
  box-shadow: 6px 16px 13px 0px rgba(50, 50, 50, 0.52);
  width: 150px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: #000; 
  visibility: hidden;
  border-radius: 5px;
  z-index: 1;
  

}
.index-list-wrapper {
  position: absolute;
  top: 25px;
  left: 250px;
  width: 80px;
  height: 50px;
}

.index-list-wrapper:hover .index-list {
  visibility: visible;
  z-index: 2;

}
.index-list a:hover:not(.title-list) {
  background-color: rgba(208, 112, 88, 0.4);
  z-index: 0;

}
.index-list .current {
  display: block;
  color: #fff;
  background-color: #d07058;
}


.index-list a {
  color: #000;
  display: block;
  width: 120px;
  font-size: 14px;
  line-height: 16px;
  padding: 10px 20px;
}
.index-list li,
.index-list a {
  max-width: 110px;
}




.index-list a:not(.title-list) {
  font-weight: 400;
}
.title-list {
  
  position: relative;
}
  
  
  
.title-list::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 7%;
  width: 120px;
  height: 5px;
  background-image: url("../img/icons/dividing_line_list.png");
  background-repeat: no-repeat;
   
} 

.active-header {
  display: block;
  width: 85px;
  height: 30px;
  line-height: 30px;
  vertical-align: top;
  background-color: #e74e37;
  text-align: center;
  color: #fff;
  font-size: 16px;
  margin-right: 25px;
  border-bottom: none;
  border-radius: 50px;
}
.active-header a {
  border-bottom: 0;
}
  



.index-catalog-btn {
  position: relative;
  z-index: 5;

 
}
.index-catalog-btn:hover::after {
  visibility: visible;
  z-index: 7;

}
.index-catalog-btn::after {
  content: "Каталог";
  position: absolute;
  top: -17%;
  left: -17%;
  width: 80px;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  color: #000;
  text-align: center;
  z-index: 1;
  background-color: #fff;
  border-radius: 14px;
  visibility: hidden;

}
.index-catalog-btn:active::after {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.9) inset;
}


.login-wrapper {
  display: none;
}
.login-form {
  position: absolute;
  background-color: #fff;
  top: 120%;
  right: 65%;
  z-index: 1;
  width: 247px;
  height: 200px;
  box-shadow: 6px 16px 13px 0px rgba(50, 50, 50, 0.52);
  border-radius: 5px;  
}

  

  
.btn-login:hover + .login-wrapper {
  display: block;
}
.user-block .login-form a {
  color: #000;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  text-decoration: underline;
}
.emaillogin, .password {
  margin: 20px;
  padding: 10px 5px; 
  border: 1px solid #d3d3d2;
  outline: 0;
  width: 195px;
  border-radius: 5px;  
}
.password {
  margin-top: 0;
}
.submitlogin {
  border: 0;
  background-color: #ec583c;
  color: #fff;
  width: 80px;
  height: 40px;
  line-height: 40px;
  margin-left: 20px;
  border-radius: 15px; 
}
.linkslogin {
  display: flex;
  flex-wrap: wrap;
  width: 120px;
  position: absolute;
  top: 64%;
  left: 46%;
  
}
.login-wrapper {
  position: relative;
}


.linklogin  {
  display: block;
  width: 120px;
  
  
  
} 
  

.user-block {
  display: flex;
  flex-wrap: wrap;
  width: 270px;
  margin-top: 26px;
  position: relative;
  
}
.user-block a {
  margin-left: auto;
}
.btn-search {
  
  width: 33px;
  height: 33px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  font-size: 0;
  background-image: url("../img/icons/spritesheet.png");
  background-position: -2px -426px;
  
 
}
.searchform {
  position: absolute;
  top: 35%;
  right: 85%;
  background-color: #f8f7f4;
  padding: 20px 15px;
  border-radius: 5px;
  box-shadow: 6px 16px 13px 0px rgba(50, 50, 50, 0.52);
  display: none;
  
}

input[type="search"] {
  border-radius: 5px;
  outline: 0;
  border: 1px solid #d3d3d2;
  padding: 10px 5px;
  width: 300px;


}
.btn-search:hover {
  background-image: url("../img/icons/black_magni.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  
  background-color: #fff;



  
}
.btn-search:hover + .searchform {
  
  display: block;


} 
.btn-login {
  
  width: 49px;
  height: 33px;
  padding-left: 43px;
  line-height: 33px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 14px;
  position: relative;
  text-decoration: none;
}
.btn-login::before {
  content: "";
  width: 22px;
  height: 22px;
  position: absolute;
  top: 6px;
  left: 15px;
  background-image: url("../img/icons/spritesheet.png");
  background-repeat: no-repeat;
  background-position: -10px -393px;
}
.btn-login:hover {
  background-color: #fff;
  color: #000;
}
.btn-login:hover::before {
  background-image: url("../img/icons/black_login.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
  
 
.btn-basket {
  width: 72px;
  height: 33px;
  line-height: 33px;
  padding-left: 45px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 14px;
  position: relative; 
  text-decoration: none; 

}

.btn-basket::before {
  content: "";
  width: 22px;
  height: 22px;
  position: absolute;
  top: 6px;
  left: 15px;
  background-image: url("../img/icons/spritesheet.png");
  background-repeat: no-repeat;
  background-position: -10px -10px;

}
.btn-basket-full {
  width: 72px;
  height: 33px;
  line-height: 33px;
  padding-left: 45px;
  background-color: #fff;
  color: #000;
  border-radius: 14px;
  position: relative;  

}
.btn-basket-full:hover + .basketform-block {
  display: block;
}
.btn-basket-full::before {
  content: "";
  width: 22px;
  height: 22px;
  position: absolute;
  top: 6px;
  left: 15px;
  background-image: url("../img/icons/full_basket.png");
  background-repeat: no-repeat;
  

}
.shedule {
  margin-left: auto;
}
.shedule span {
  position: relative;
  top: -15px;
}




.btn-main:hover, .promo-left .btn-promo:hover, .promo-right .btn-promo:hover, .btn-subscribe:hover, 
.btn-feedback:hover {
  cursor: pointer;
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
.btn-main:active, .promo-left .btn-promo:active, .promo-right .btn-promo:active, .btn-subscribe:active, 
.btn-feedback:active {
  cursor: pointer;
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow:  0 2px 2px rgba(172, 16, 0, 1) inset;
}
.method:hover, .method:active , .footer-menu a:hover, .main-navigation a:hover:not(.active):not(.index-list a) {
  color: #e84d37;
  
}

.footer-menu a:hover, .main-navigation a:hover:not(.active):not(.index-list a) {
  border-bottom: 1px solid rgba(232, 77, 55, 0.3);
}


.fat {
  display: none;
}
.fat + label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 30px;
}
.fat + label::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;

  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid white;
}
.fat + label:hover::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -1px;

  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid white;  
}
.fat:checked + label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 5px;
  border-radius: 50%;
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #fff;

}
.fat:checked + label:hover::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 5px;
  border-radius: 50%;
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #fff;  
}
.val {
  display: none;
}
.val + label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
}
.val + label::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 1px solid #fff;
  border-radius: 5px;
}
.val + label:hover::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -1px;
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 2px solid #fff;
  border-radius: 5px;
}
.val:checked + label::after {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;  
  background-image: url("../img/icons/checkbox.png");
  background-repeat: no-repeat;
  width: 17px;
  height: 15px;
}
.val:checked + label:hover::after {
  content: "";
  position: absolute;
  top: -1px;
  left: 0px;  
  background-image: url("../img/icons/checkbox.png");
  background-repeat: no-repeat;
  width: 17px;
  height: 15px;
}
.site-wrapper {
  transition: background-image 0.5s ease, background-color 0.5s ease;
  background-repeat: no-repeat;
  background-position: top center;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/ice_cream2.png");
}

.site-wrapper::after {
  background-image: url("../img/ice_cream3.png");
}
.content-wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0 ;
  
}
.slide {
  display: none;
}
.slider {
  position: relative;
  padding-top: 270px;
  text-align: center;
 
}
.slide-title {
  width: 700px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 60px;
  line-height: 60.35px;
}
.btn-slide {
  display: inline-block;
  text-decoration: none;
  vertical-align: top;
  width: 270px;
  height: 60px;
  line-height: 60px;
  border-radius: 100px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  font-size: 32px;
  font-weight: 600;
  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
}
.btn-slide:hover {
  cursor: pointer;
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn-slide:active {
  cursor: pointer;
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow:  0 2px 2px rgba(172, 16, 0, 1) inset;
}
body > input[type="radio"] {
  display: none;
}


.slider-controls {
  position: absolute;
  bottom: 25px;
  left: 10px;
  z-index: 20;
  font-size: 0;
}
.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  cursor: pointer;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #fff;
}
#btn1:checked ~ .site-wrapper #slide1,
#btn2:checked ~ .site-wrapper #slide2,
#btn3:checked ~ .site-wrapper #slide3 {
  display: block;
}
#btn1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/ice_cream1.png");

}
#btn2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/ice_cream2.png");
}
#btn3:checked ~ .site-wrapper {
  background-color: #9f8d86;
  background-image: url("../img/ice_cream3.png");
}
#btn1:checked ~ .site-wrapper label[for="btn1"],
#btn2:checked ~ .site-wrapper label[for="btn2"],
#btn3:checked ~ .site-wrapper label[for="btn3"] {
  background-color: #fff;
}
.promo {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 30px;
  margin-bottom: 40px;
  width: 1180px;
  
}


.img-item  img {
  border-radius: 50%;
}


  
  









.img-item,
.index-map
 {
  position: relative;
  
}
.promo-left,.promo-right {
  width: 560px;
  height: 229px;
}
.promo-left {
  background-image: url("../img/promo_bg1.jpg");
  border-radius: 14px;
  background-repeat: no-repeat;
}
.promo-right {
  background-image: url("../img/promo_bg2.jpg");
  border-radius: 14px;
  background-repeat: no-repeat;
}
.promo-left .title-promo,
.promo-right .title-promo {
 display: inline-block;
 margin-left: 20px;
 margin-top: 25px;
 
}
.promo-left p,
.promo-right p {
  margin-left: 20px;
  margin-top: 25px;
  
}
.promo-left .btn-promo,
.promo-right .btn-promo {
  
  display: inline-block;
  text-decoration: none;
  width: 164px;
  height: 45px;
  margin-left: 370px;
  margin-top: 25px;
  text-align: center;
  line-height: 45px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border-radius: 100px;
  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);

}

.img-item {
  width: 267px;
  height: 267px;
}
.img-item .hit {
  position: absolute;
  left: 15px;
  top: 0px;
}
.img-item span {
  position: absolute;
  left: -10px;
  bottom: 25px;

}
.item-description {
  width: 267px;
}



.index-items {
  
  display: flex;
  justify-content: space-between;
  
  margin-bottom: 25px;
}
.items-catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1180px;
}
.item-description {
  margin-top: 15px;
  text-align: center;

}
.item-description-catalog {
  margin-top: 10px;
  margin-bottom: 10px;
}
.item-description a {
  display: inline-block;
  width: 255px;
  text-decoration-color: #9db1a5;  

}


.index-features {
  width: 100%;
  height: 306px;
  background-image: url("../img/wafer_bg.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 14px;
}
.title-features {
  display: inline-block;
  padding-left: 24px;
  margin-top: 0;
  padding-top:  10px; 
  
}

.post-feature {
  width: 1140px;
  margin-top: 0;
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  
  
}

.post-feature li {
  padding-left: 33px;
  list-style: none;
  width: 480px;

  
  position: relative;
  margin-bottom: 20px;
}
.post-feature li:nth-child(2n) {
  margin-left: 70px;
}

.post-feature li:first-child::before {
  content: "";
  width: 49px;
  height: 49px;
  background: url("../img/icons/spritesheet.png") no-repeat -10px -120px;
  position: absolute;
  top: -10px;
  left: -22px;
}
  
.post-feature li:nth-child(2)::before {
  content: "";
  width: 49px;
  height: 49px;
  background: url("../img/icons/spritesheet.png") no-repeat -10px -50px;
  position: absolute;
  top: -10px;
  left: -22px;  
}
.post-feature li:nth-child(3)::before {
  content: "";
  width: 49px;
  height: 49px;
  background: url("../img/icons/spritesheet.png") no-repeat -10px -325px;
  position: absolute;
  top: -10px;
  left: -22px;  
}
.post-feature li:last-child::before {
  content: "";
  width: 49px;
  height: 49px;
  background: url("../img/icons/spritesheet.png") no-repeat -10px -470px;
  position: absolute;
  top: -10px;
  left: -22px;  
}
.index-features,
.news-sub {
  margin-bottom: 40px;
}

.news-sub {
  display: flex;
  justify-content: space-between;
}
.index-map {
  margin-top: 60px;
  width: 100%;
  height: 430px;
  margin-bottom: 30px;

}
.map-pin {
  position: absolute;
  top: 140px;
  left: 300px;
}
.index-news {
  width: 560px;
  height: 220px;
  background-image: url("../img/straw_bg.jpg");
  background-repeat: no-repeat;
  border-radius: 14px;
}
.index-subscribe {
  width: 560px;
  height: 220px;
  background-image: url("../img/bg_subscribe.jpg");
  background-repeat: no-repeat;
  border-radius: 14px;
}
.title-news {
  display: inline-block;
  margin-top: 25px;
  margin-left: 20px;
 
}
.index-news p {

  width: 285px;
  margin-left: 20px;
  
}
.index-subscribe p {
  display: block;
  margin-left: 20px;
  margin-top: 25px;
  line-height: 22px;
  font-size: 16px;
  width: 510px;
 
}
.index-subscribe form {
  margin-left: 20px;
  margin-top: 42px;
  
  
}
.index-address {
  position: absolute;
  right: 55px; 
  bottom: 30px; 
  width: 250px;
  height: 290px;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
}
.index-address p {
  display: flex;
  flex-direction: column;
  width: 250px;
}
.index-address span:first-of-type {
  width: 150px;
  line-height: 20px;
  margin-bottom: 5px;
}
.index-address strong {
  width: 225px;
  margin-bottom: 10px;
}
.btn-feedback {
  display: block;
  text-decoration: none;
  width: 250px;
  height: 45px;
  line-height: 45px;
  border-radius: 100px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  font-size: 18px;
  text-align: center;
  text-shadow: 0px 0px 9px #000;
  box-shadow: 0px 1px 1px 1px rgba(158, 67, 52, 1);
  border-radius: 20px;
  margin-top: 50px;
  
  
}
.inputemail {
  padding: 9px;
  width: 347px;
  height: 21px;
  outline: 0;
  border: 1px solid #d3d3d2;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;  
}
.btn-subscribe {
  min-width: 125px;
  height: 44px;
  line-height: 44px;
  font-size: 18px;
  font-weight: 500;
  outline: none;
  border: 0;
  color: #fff;
  border-radius: 100px;
  text-align: center;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
              
  
  margin-left: 5px;  
}
.footer-layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer-social {
  width: 210px;
}
.footer-social ul {
  padding-left: 0;
  font-size: 0;
}
.footer-social li {
  display: inline-block;
  width: 37px;
  height: 37px;
  
  position: relative;
  margin-right: 10px;
}  
.social-btn {
  display: block;
  position: absolute;
  top: 7%;
  left: 6%;
  border-radius: 50%;
  width: 31px;
  height: 31px;
  opacity: 0.5;
  border: 3px solid #c2cec7;
}
.social-btn:hover {
  opacity: 1;
}
.social-btn:active {
  box-shadow: 0px 5px 2px 0px rgba(0, 0, 0, 0.7) inset;
  opacity: 0.5;
}
  
    

.twt-btn {
  display: block;
  top: 6.5%;
  left: 6.8%;
  background: url("../img/icons/spritesheet.png") no-repeat -10px -539px;
  
  
} 
.inst-btn {
  display: block;
  top: 6.5%;
  left: 6.5% ;
  background: url("../img/icons/spritesheet.png") no-repeat -10px -273.5px;
}
.fb-btn {
  display: block;
  top: 7.5%;
  left: 7.5%;
  background: url("../img/icons/spritesheet.png") no-repeat -10px -188px;
}
.vk-btn {
  display: block;
  top: 8%;
  left: 8%;
  background: url("../img/icons/spritesheet.png") no-repeat -10px -591px;
}
.footer-menu {
  width: 420px;
}
.footer-menu ul {
  font-size: 0;
  width: 330px;
  position: relative;
  
}
.footer-menu li {
  display: inline-block;
  list-style: none;
  font-size: 13px;
  width: 165px;

  
}
.footer-menu li:first-child::before {
  content: "";
  width: 15px;
  height: 15px;
  background: url("../img/icons/spritesheet.png") no-repeat -10px -240px;
  position: absolute;
  top: 5px;
  left: 20px;

}

.footer-menu li:nth-child(odd) {
  width: 130px;
}

.footer-copyright {
  display: flex;
  flex-direction: column;
  width: 200px;
  
}
.footer-copyright span {
}
  

/*a:not(.method) {
  text-decoration: none;
}*/


/* =================================CATALOG===============================================================*/

.catalog-breadcrumbs {
  width: 70%;
  position: relative;
  top: -50px;
}
.clearfix {
  position: relative;
  top: -85px;
}  
.catalog-breadcrumbs a {
  text-decoration: none;
}
.catalog-breadcrumbs ul {
  padding-left: 0;
}
.catalog-breadcrumbs li {
  padding-right: 5px;
  display: inline-block;
  list-style: none;
}
.filters-block {
  width: 900px;
  margin-bottom: 50px;
}
fieldset {
  border: 0;
  padding: 0;
}
.filter-forms {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
}
.field-sort {
  width: 190px;
  height: 60px;
  
}

.field-price {
  width: 220px;
  height: 60px;
}
.field-fatness {
  width: 460px;
  height: 60px;
}
.field-fillers {
  width: 570px;
  height: 60px;
}
.button-filters {
  width: 150px;
}
.btn-apply {
  width: 150px;
  height: 36px;
  line-height: 30px;
  margin-left: 47px;
  margin-top: 22px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid white;
  color: #fff;
  display: block;
  border-radius: 15px;
  text-align: center;
  outline: 0;

}
.btn-apply:hover {
  width: 150px;
  height: 36px;
  line-height: 30px; 
  text-align: center;
  background-color: #fff;
  color: #000; 
  outline: 0;
}
.btn-apply:active {
  width: 150px;
  height: 36px;
  line-height: 30px; 
  text-align: center;
  background-color: #fff;
  color: #000; 
  box-shadow:  0 2px 2px rgba(0, 0, 0, 1) inset; 
  outline: 0; 
}
/*.sorting {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px 10px;
  height: 33px;
  color: #fff;
  outline: 0;
  display: block;
  border-radius: 15px; 
  font-size: 16px;
  
}*/
.sorting:hover {
  background-color: #fff;
  color: #000;
}
.background-fatness {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px 10px;
  color: #fff;
  width: 350px;
  display: block;
  border-radius: 15px;    
}
.background-fillers {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px 10px;
  color: #fff;
  width: 590px;

  display: block;
  border-radius: 15px;  
}
.background-price {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px 10px;
  color: #fff;
  width: 170px;
  height: 22px;
  display: block;
  border-radius: 15px;
  position: relative;  
}
.scale {
  margin-top: 9px;
  height: 5px;
  background: #d1dad3;
}
.bar {

  height: 5px;
  background: #fff;

}
.toggle {
  position: absolute;
  top: 7px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}
.min-toggle {
  left: 25px;
}
.max-toggle {
  left: 105px;
}
.fillers-form {
  width: 590px;

}
.paginator {
  display: flex;
  width: 250px;
  margin-left: auto;
  align-items: center;
  
}
.paginator a {
  text-decoration: none;
}
.paginator ul {
  padding: 0;
  font-size: 0;

}
.paginator li {
  display: inline-block;
  
 
}
.paginator li:first-child {
}
.paginator .active {
  border-radius: 50%;
  padding: 0px;
  margin-right: 10px;
  margin-left: 10px;
  text-align: center;
  width: 23px;
  height: 23px;
  line-height: 23px;
  background-color: #fff;
  color: black;
  
}
.pagebtn  {
  position: relative;
  margin-right: 20px;

}
/*.pagebtn a:hover {                               
  display: block;
  width: 23px;
  height: 23px;
  line-height: 23px;  
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
}*/    
      
.pagebtn:hover::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -7px; 
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);  
}
.previous {
  font-size: 0;
  background: url("../img/icons/arrow_left.png") no-repeat;
  width: 9px;
  height: 14px;
  opacity: 0.3;
  

}
  
.next {
  font-size: 0;
  background: url("../img/icons/arrow_right.png") no-repeat ;
  cursor: pointer;
  
  width: 9px;
  height: 14px;
}
.dividing-line {
  width: 95%;
  opacity: 0.3;
}

.name-filter {
  
  padding-left: 15px;
  
  
}

.basketform-block {
  position: absolute;
  top: 35%;
  right:0%;
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  color: #000;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  z-index: 1;
  box-shadow: 6px 16px 13px 0px rgba(50, 50, 50, 0.52);
  display: none;
}
.items-form {
  width: 100%;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;  
  border-bottom: 1px solid #cacac7;
}
.img-bsktform {

  margin-left: 10px;
}
.img-bsktform img {
  width: 30px;
  height: 30px;
}
.name-item-1 {
  margin-left: 10px;
}
.name-item-2 {
  margin-left: 10px;
  width: 220px;
}
.intotal {
  display: flex;
  flex-direction: column;
  width: 170px;
  margin-left: auto;
  margin-top: 15px;

}
.intotal-price {
  font-size: 18px;
  font-weight: 700;
  margin-left: auto;
  margin-bottom: 10px;
}
.row-1 {
  margin-bottom: 20px;
}
.name-item-1, .wt ,.price-forwt, .price-foritem{
  padding-top: 5px;
}
.row-2 {
  margin-bottom: 25px;

}
.row-1, .row-2 {
  display: flex;
  justify-content: space-between;
  align-self: baseline;
}
.wt {
  margin-left: auto;
}
.price-forwt {
  margin-right: auto;
  color: #999;
}
.name-total {

}


.btn-remove {
  
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: 0;
  font-size: 0;
  cursor: pointer;
}
.btn-1 {
  position: absolute;
  top: 29px;
  left: 13px;
}
.btn-2 {
  position: absolute;
  top: 79px;
  left: 13px;
}
.btn-formbasket {
  font-size: 18px;
  font-weight: 700;
  line-height: 43px;
  cursor: pointer;
  border: 0;
  color: #fff;
  width: 175px;
  height: 43px;
  margin-left: auto;
  background-color: #f06341;
  border-radius: 27px;  
}

.btn-remove::before,
.btn-remove::after {
  position: absolute;
  top: 5px;
  left: 0px;
  content: "";
  width: 12px;
  height: 1px;
  background-color: #000;
}
.btn-remove::before {
  transform: rotate(45deg);
}
.btn-remove::after {
  transform: rotate(-45deg);
}

.item-catalog {
  position: relative;
}
.photo-img {
  position: relative;
}

.img-item-catalog:hover::before {
  content: "";
  position: absolute;
  top: -5%;
  left: -6%;
  width: 300px;
  height: 410px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  cursor: pointer;
  z-index: 30;

}
.img-item span {
  z-index: 90;
}

.btn-fast-view {
  position: absolute;
  display: none;
  top:  102%; 
  left: 35px;
  text-align: center;
  width: 190px;
  height: 43px;
  line-height: 43px;
  background-color: #e84d37;
  border-top-left-radius: 27px;
  border-top-right-radius: 27px;
  border-bottom-left-radius: 27px;
  border-bottom-right-radius: 27px;
  z-index: 42;
  text-decoration: none;
}
.item-description-catalog a:hover {
text-decoration: none;
}
.img-item-catalog:hover + .btn-fast-view {
  display: block;
  z-index: 42;
}




/*==================modal-content============================================*/

.modal-content {
  position: absolute;
  display: none;
  top: 60%;
  left: 30%;
  color: #000;
  width: 450px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 6px 16px 13px 0px rgba(50, 50, 50, 0.52);

}
.form-fdbck {
  margin-top: 20px;
  display: flex;
  flex-direction: column;

}
.input-for-style-fdbck,
.review-modal {
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
  margin-bottom: 20px;
}
.input-for-style-fdbck {
  width: 260px;
}
.review-modal {
  margin-bottom: 25px;
}

.title-modal {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}
.btn-modal-submit {
  width: 150px;
  height: 43px;
  line-height: 43px;
  margin-left: auto;
  cursor: pointer;
  border: 0;
  background-color: #e74e37;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  box-shadow: 0px 1px 1px 1px rgba(158, 67, 52, 1);
  border-radius: 14px;
  text-decoration: none;
}
.btn-modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  font-size: 0;
  border: 0;
  cursor: pointer;
}
.btn-modal-close::before,
.btn-modal-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 20px;
  height: 2px;
  background-color: #000;
  border-radius: 1px;
}
.btn-modal-close::before {
  transform: rotate(45deg);
}
.btn-modal-close::after {
  transform: rotate(-45deg);
}