@font-face {
  font-family: 'Roboto';
  src: local("Roboto-Regular"),
  url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}
  
@font-face {
  font-family: 'Roboto';
  src: local("Roboto-Italic"),
  url('../fonts/Roboto-Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto';
  src: local("Roboto-Bold"),
  url('../fonts/Roboto-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'Roboto';
  src: local("Roboto-BoldItalic"),
  url('../fonts/Roboto-BoldItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: 'Roboto';
  src: local("Roboto-Black"),
  url('../fonts/Roboto-Black.ttf') format('truetype');
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: 'Roboto';
  src: local("Roboto-BlackItalic"),
  url('../fonts/Roboto-BlackItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 900;
}
@font-face {
  font-family: 'Roboto';
  src: local("Roboto-Light"),
  url('../fonts/'Roboto-Light.ttf) format('truetype');
  font-style: normal;
  font-weight: 300;   
}
@font-face {
  font-family: 'Roboto';
  src: local("Roboto-LightItalic"), 
  url('../fonts/Roboto-LightItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: 'Roboto';
  src: local("Roboto-Medium"),
  url('../fonts/Roboto-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'Roboto';
  src: local("Roboto-MediumItalic"),
  url('../fonts/Roboto-MediumItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 500;
}


body {
 font-style: 'Roboto';
 width: 100%;
 height: 100%;
 padding: 0;
 margin: 0;
 font-size: 18px;
 font-weight: 700;
 line-height: 22px;
 color: #fff;
 background: #849d8f;
}
a {
  font-style: 'Roboto';
  color: #fff;
}

/* ============================================FONTS=========================*/

.index-items
 {
  font-family: 'Roboto';
}
.main-navigation {
  font-size: 16px;
} 
.user-block,
.name-filter {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  
}
.shedule {
  font-size: 0;
}
.shedule p {
  font-size: 14px;
}
.shedule span {
  font-size: 22px;
  
}
.logo-text {
  font-size: 60px;
  line-height: 1;
}
.btn-main {
  font-size: 32px;
}
.promo, .header-top {
  font-family: 'Roboto';
}
.title-promo,
.title-catalog {
  font-family: 'Roboto';
  font-size: 35px;
}
.item-description,
.values-form,
.btn-apply,
.paginator {
  font-family: 'Roboto';
  font-size: 16px; 
  font-weight: 500;
}


.img-item span {
  font-family: 'Roboto';
  font-size: 45px;
}
.title-features {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #323232;
}
.post-feature {
  font-weight: 400;
  line-height: 22px;
  color: #323232;
  
}
.title-news {
  font-weight: 500;
  color: #323232;
}
.index-news p > a{
  font-size: 24px;
  color: #323232;
}
.index-subscribe p {
  color: #5a5a5a;
  font-weight: 400;
}
.index-address  p,
.index-address p > .link-phone
 {
  font-family: 'Roboto';
  color: #323232;
  font-size: 14px;
  font-weight: 400;
}
.index-address p > strong,
.index-address p > .link-phone {
  font-size: 18px;
}
.footer-menu {
  font-size: 13px;
  color: #fff;
  font-weight: 400;
}
.footer-copyright {
  font-size: 12px;
  color: #fff;
  font-weight: 400;
}
.catalog-breadcrumbs {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
}

/* ===========================^^^^^========FONTS========================^^^=*/

.container {
  width: 1150px;
  padding: 0 10px;
  margin: 0 auto;

}

.header-top {
  margin-top: 20px;
}

.index-logo {
  width: 154px;
  height: 64px;
  margin-right: 14px;
}
.index-logo img {
  width: 154px;
  height: 64px;  
}
.main-header-layout {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main-navigation {
  width: 400px;
  height: 20px;
  margin-right: auto;
  margin-top: 20px;
  
}
.main-navigation a,
.footer-menu a,
.academylink {
  
  /*box-shadow: 0px -2px 0px 0px rgba(159, 180, 169, 0.5) inset;*/
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);

  
}
.main-navigation ul {
  padding: 0;
  font-size: 0;
  width: 600px;
}
.index-list {
  position: absolute;
  top: 12%;
  left: 18.5%;
  list-style: none;
  
  box-shadow: 6px 16px 13px 0px rgba(50, 50, 50, 0.52);
  max-width: 150px;
  display: flex;
  flex-direction: column;
  
  background-color: #fff;
  color: #000; 
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  
  z-index: 1;
  display: none;

}
.index-list a:hover:not(.title-list) {
  background-color: rgba(208, 112, 88, 0.4);
 
}
.index-list a:active:not(.title-list) {
  background-color: rgba(208, 112, 88, 0.6);

}
.index-list a {
  color: #000;
  display: block;
  width: 120px;
  font-size: 14px;
  line-height: 16px;
  box-shadow: 0 0 0 0 ; 
  padding: 10px 20px;
}
.index-list li,
.index-list a {
  max-width: 110px;
}




.index-list a:not(.title-list) {
  font-weight: 400;
}
.title-list {
  
  position: relative;
}
  
  
  
.title-list::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 7%;
  width: 120px;
  height: 5px;
  background-image: url("../img/icons/dividing_line_list.png");
  background-repeat: no-repeat;
   
} 


  

.main-navigation li {
  display: inline-block;
  list-style: none;
  vertical-align: top;
  margin-right: 30px;
  font-size: 16px;
} 
.index-catalog-btn {
    position: relative;

}
.index-catalog-btn:hover::after {
  display: block;
     
}
.index-catalog-btn::after {
  content: "Каталог";
  position: absolute;
  top: -17%;
  left: -17%;
  width: 80px;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  color: #000;
  text-align: center;
  z-index: 1;
  background-color: #fff;
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  display: none;


}
.index-catalog-btn:active::after {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.9) inset;
}

.index-catalog-btn:hover + .index-list {
  display: block;

}
.login-wrapper {
  display: none;
}
.login-form {
  position: absolute;
  background-color: #fff;
  top: 120%;
  right: 65%;
  z-index: 1;
  width: 247px;
  height: 200px;
  box-shadow: 6px 16px 13px 0px rgba(50, 50, 50, 0.52);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;  
}

  

  
.btn-login:hover + .login-wrapper {
  display: block;
}
.user-block .login-form a {
  color: #000;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  text-decoration: underline;
}
.emaillogin, .password {
  margin: 20px;
  padding: 10px 5px; 
  border: 1px solid #d3d3d2;
  outline: 0;
  width: 195px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;  
}
.password {
  margin-top: 0;
}
.submitlogin {
  border: 0;
  background-color: #ec583c;
  color: #fff;
  width: 80px;
  height: 40px;
  line-height: 40px;
  margin-left: 20px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px; 
}
.linkslogin {
  display: flex;
  flex-wrap: wrap;
  width: 120px;
  position: absolute;
  top: 64%;
  left: 46%;
  
}
.login-wrapper {
  position: relative;
}


.linklogin  {
  display: block;
  width: 120px;
  
  
  
} 
  

.user-block {
  display: flex;
  flex-wrap: wrap;
  width: 270px;
  margin-top: 20px;
  position: relative;
  
}
.user-block a {
  margin-left: auto;
}
.btn-search {
  
  width: 33px;
  height: 33px;
  background-color: #a1b5aa;
  border-radius: 50%;
  font-size: 0;
  background-image: url("../img/icons/spritesheet.png");
  background-position: -2px -426px;
  
 
}
.searchform {
  position: absolute;
  top: 35%;
  right: 85%;
  background-color: #f8f7f4;
  padding: 20px 15px;
  border-radius: 5px;
  box-shadow: 6px 16px 13px 0px rgba(50, 50, 50, 0.52);
  display: none;
  
}

input[type="search"] {
  border-radius: 5px;
  outline: 0;
  border: 1px solid #d3d3d2;
  padding: 10px 5px;
  width: 300px;


}
.btn-search:hover {
  background-image: url("../img/icons/black_magni.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  
  background-color: #fff;



  
}
.btn-search:hover + .searchform {
  
  display: block;


} 
.btn-login {
  
  width: 49px;
  height: 33px;
  padding-left: 43px;
  line-height: 33px;
  background-color: #a1b5aa;
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
  position: relative;
}
.btn-login::before {
  content: "";
  width: 22px;
  height: 22px;
  position: absolute;
  top: 6px;
  left: 15px;
  background-image: url("../img/icons/spritesheet.png");
  background-repeat: no-repeat;
  background-position: -10px -393px;
}
.btn-login:hover {
  background-color: #fff;
  color: #000;
}
.btn-login:hover::before {
  background-image: url("../img/icons/black_login.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
  
 
.btn-basket {
  width: 72px;
  height: 33px;
  line-height: 33px;
  padding-left: 45px;
  background-color: #a1b5aa;
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  position: relative;  

}
.btn-basket::before {
  content: "";
  width: 22px;
  height: 22px;
  position: absolute;
  top: 6px;
  left: 15px;
  background-image: url("../img/icons/spritesheet.png");
  background-repeat: no-repeat;
  background-position: -10px -10px;

}
.btn-basket-full {
  width: 72px;
  height: 33px;
  line-height: 33px;
  padding-left: 45px;
  background-color: #fff;
  color: #000;
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  position: relative;  

}
.btn-basket-full:hover + .basketform-block {
  display: block;
}
.btn-basket-full::before {
  content: "";
  width: 22px;
  height: 22px;
  position: absolute;
  top: 6px;
  left: 15px;
  background-image: url("../img/icons/full_basket.png");
  background-repeat: no-repeat;
  

}
.shedule {
  margin-left: 101px;
}
.shedule span {
  position: relative;
  top: -15px;
}


.slider-image {
  position: relative;
  top: -30px;
  margin-left: auto;
  margin-right: auto;
  
}
.btn-main {
  position: absolute;
  bottom: 70px;
  left: 200px;  
  width: 278px;
  height: 63px;
  line-height: 63px;
  background-color: #e74e37;
  text-align: center;
  text-shadow: 0px 0px 9px #000;
  box-shadow: 0px 1px 1px 1px rgba(158, 67, 52, 1);
  border-top-left-radius: 27px;
  border-top-right-radius: 27px;
  border-bottom-left-radius: 27px;
  border-bottom-right-radius: 27px;

}
.btn-main:hover, .promo-left .btn-promo:hover, .promo-right .btn-promo:hover, .btn-subscribe:hover, 
.btn-feedback:hover {
  background-color: #f38267;
  cursor: pointer;
}
.btn-main:active, .promo-left .btn-promo:active, .promo-right .btn-promo:active, .btn-subscribe:active, 
.btn-feedback:active {
  box-shadow: 0px 5px 2px 0px rgba(149, 39, 24, 1) inset;
  background-color: #e74e37;
}
.method:hover, .method:active , .footer-menu a:hover, /*.item-description a:hover,*/ .main-navigation a:hover:not(.active) {
  color: #e84d37;
  
}

.footer-menu a:hover, /*.item-description a:hover,*/ .main-navigation a:hover:not(.active) {
  border-bottom: 1px solid rgba(232, 77, 55, 0.3);
}
.btn-toggle {
  display: none;
}
.btn-toggle + label {
  display: inline-block;
  cursor: pointer;
  position: relative;
}
.btn-toggle + label:hover{
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;

  width: 25px;
  height: 25px;

}

.btn-toggle + label::before {
  content: "";
  display: inline-block;
  width: 21px;
  height: 21px;
  border: 2px solid white;
  border-radius: 50%;
}
.btn-toggle:checked + label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 21px;
  height: 21px;
  background-color: white;
  border-radius: 50%;
}

.fat {
  display: none;
}
.fat + label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 30px;
}
.fat + label::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;

  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid white;
}
.fat:checked + label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 6px;
  border-radius: 50%;
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #fff;

}
.val {
  display: none;
}
.val + label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
}
.val + label::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 2px solid #fff;
  border-radius: 5px;
}
.val:checked + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;  
  background-image: url("../img/icons/checkbox.png");
  background-repeat: no-repeat;
  width: 17px;
  height: 15px;
}

.promo {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -50px;
  width: 1146px;
  
}
.promo-left,.promo-right {
  width: 560px;
}
.post-feature {
  width: 1140px;

  display: flex;
  flex-wrap: wrap;
  
  position: absolute;
  top: 85px;  
}

.post-feature li {
  padding-left: 33px;
  list-style: none;
  width: 470px;

  
  position: relative;
  margin-bottom: 20px;
}
.post-feature li:nth-child(2n) {
  margin-left: 50px;
}

.post-feature li:first-child::before {
  content: "";
  width: 49px;
  height: 49px;
  background: url("../img/icons/spritesheet.png") no-repeat -10px -120px;
  position: absolute;
  top: -10px;
  left: -22px;
}
  
.post-feature li:nth-child(2)::before {
  content: "";
  width: 49px;
  height: 49px;
  background: url("../img/icons/spritesheet.png") no-repeat -10px -50px;
  position: absolute;
  top: -10px;
  left: -22px;  
}
.post-feature li:nth-child(3)::before {
  content: "";
  width: 49px;
  height: 49px;
  background: url("../img/icons/spritesheet.png") no-repeat -10px -325px;
  position: absolute;
  top: -10px;
  left: -22px;  
}
.post-feature li:last-child::before {
  content: "";
  width: 49px;
  height: 49px;
  background: url("../img/icons/spritesheet.png") no-repeat -10px -470px;
  position: absolute;
  top: -10px;
  left: -22px;  
}

  
  




.main-image {
  position: relative;
  width: 647px;
  height: 584px;
  margin-right: auto;
  margin-left: auto;
}
.logo-text {
  display: block;
  position: absolute;
  bottom: 113px;
  right: -15px;
  width: 670px;
}

.btn-toggles {
  width: 85px;
  position: absolute;
  bottom: 70px;
  left: -255px;


}
.img-item  img {
  border-radius: 50%;
}
.promo-left,
.promo-right,
.img-item,
.index-features,
.index-news,
.index-subscribe,
.index-map
 {
  position: relative;
  
}
.promo-left .title-promo,
.promo-right .title-promo {
  position: absolute;
  top: 20px;
  left: 20px;
}
.promo-left p,
.promo-right p {
  position: absolute;
  top: 50px;
  left: 20px;
}
.promo-left .btn-promo,
.promo-right .btn-promo {
  position: absolute;
  bottom: 20px;
  left: 380px;
  min-width: 164px;
  height: 45px;
  line-height: 45px;
  background-color: #e65038;
  text-align: center;
  text-shadow: 0px 0px 9px #000;
  box-shadow: 0px 1px 1px 1px rgba(158, 67, 52, 1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

}

.img-item {
  width: 267px;
  height: 267px;
}
.img-item .hit {
  position: absolute;
  left: 15px;
  top: 0px;
}
.img-item span {
  position: absolute;
  left: -10px;
  bottom: 25px;

}
.item-description {
  width: 267px;
}
.title-features {
  width: 995px;
  position: absolute;
  top: 5px;
  left: 20px;
}

.title-news {
  position: absolute;
  top: 20px;
  left: 20px;
}
.index-news p {
  width: 285px;
  position: absolute;
  top: 30px;
  left: 20px;
}
.index-subscribe p {
  width: 520px;
  position: absolute;
  top: 20px;
  left: 20px;
  margin-left: 5px;
}
.index-subscribe form {
  position: absolute;
  bottom: 35px;
  left: 25px;
  
}
.index-address {
  position: absolute;
  right: 55px; 
  bottom: 30px; 
  width: 270px;
  height: 305px;
  padding-left: 30px;
  padding-top: 30px;
  background-color: #fff;
}
.btn-feedback {
  display: block;
  width: 250px;
  height: 45px;
  line-height: 45px;
  background-color: #e65038;
  font-size: 18px;
  font-family: 'Roboto';
  text-align: center;
  text-shadow: 0px 0px 9px #000;
  box-shadow: 0px 1px 1px 1px rgba(158, 67, 52, 1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-top: 50px;
  
  
}
.map-pin {
  position: absolute;
  bottom: 150px;
  left: 290px;
  width: 218px;
  height: 142px;
}

.index-map {
  width: 100%;
  height: 430px;
}
.index-items {
  
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -14px;
  margin-bottom: 25px;
}
.items-catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.item-description {
  margin-top: 15px;
  text-align: center;

}
.item-description-catalog {
  margin-top: 10px;
  margin-bottom: 10px;
}
.item-description a {
  /*box-shadow: 0px -2px 0px 0px rgba(159, 180, 169, 0.5) inset;*/
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);

}
.index-features img,
.news-sub img,
.index-address {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}
.index-features,
.news-sub {
  margin-bottom: 40px;
}
.news-sub::after {
  content: "";
  display: table;
  clear: both;

}
.index-news {
  float: left;
}
.index-subscribe {
  float: right;
}
.inputemail {
  padding: 9px;
  width: 347px;
  height: 21px;
  outline: 0;
  border: 1px solid #d3d3d2;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;  
}
.btn-subscribe {
  min-width: 125px;
  height: 44px;
  line-height: 44px;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Roboto';
  outline: none;
  border: 0;
  color: #fff;
  background-color: #e65038;
  text-align: center;
  text-shadow: 0px 0px 9px #000;
  box-shadow: 0px 1px 1px 1px rgba(158, 67, 52, 1);
              
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-left: 5px;  
}
.footer-layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer-social {
  width: 210px;
}
.footer-social li {
  display: inline-block;
  font-size: 0;
  width: 37px;
  height: 37px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  position: relative;
}  
.social-btn {
  display: block;
  position: absolute;
  top: 7%;
  left: 6%;
  border-radius: 50%;
  width: 31px;
  height: 31px;
  opacity: 0.5;
}
.social-btn:hover {
  opacity: 1;
}
.social-btn:active {
  box-shadow: 0px 5px 2px 0px rgba(0, 0, 0, 0.7) inset;
  opacity: 0.5;
}
  
    

.twt-btn {
  display: block;
  top: 6.5%;
  left: 6.8%;
  background: url("../img/icons/spritesheet.png") no-repeat -9px -538px;
  
  
} 
.inst-btn {
  display: block;
  top: 6.5%;
  left: 6.5% ;
  background: url("../img/icons/spritesheet.png") no-repeat -10px -272px;
}
.fb-btn {
  display: block;
  top: 7.5%;
  left: 7.5%;
  background: url("../img/icons/spritesheet.png") no-repeat -10px -188px;
}
.vk-btn {
  display: block;
  top: 8%;
  left: 8%;
  background: url("../img/icons/spritesheet.png") no-repeat -10px -591px;
}
.footer-menu {
  width: 330px;
}
.footer-menu ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 330px;
  height: 40px;
  position: relative;
  
}
.footer-menu li {
  list-style: none;
  width: 160px;
  height: 20px;
}
.footer-menu li:first-child::before {
  content: "";
  width: 15px;
  height: 15px;
  background: url("../img/icons/spritesheet.png") no-repeat -10px -240px;
  position: absolute;
  top: 5px;
  left: 23px;

}
.footer-copyright {
  width: 200px;
  margin-top: 10px;
  position: relative;
  
}
.footer-copyright p {
  display: block;
  width: 190px;
  position: absolute;
  top: 25px;
}
  

a:not(.method) {
  text-decoration: none;
}


/* =================================CATALOG===============================================================*/

.catalog-breadcrumbs {
  width: 70%;
  position: relative;
  top: -50px;
}
.clearfix {
  position: relative;
  top: -85px;
}  
.catalog-breadcrumbs ul {
  padding-left: 0;
}
.catalog-breadcrumbs li {
  padding-right: 5px;
  display: inline-block;
  list-style: none;
}
.filters-block {
  width: 900px;
  margin-bottom: 50px;
}
fieldset {
  border: 0;
  padding: 0;
}
.filter-forms {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
}
.field-sort {
  width: 190px;
  height: 60px;
}
.field-price {
  width: 220px;
  height: 60px;
}
.field-fatness {
  width: 460px;
  height: 60px;
}
.field-fillers {
  width: 570px;
  height: 60px;
}
.button-filters {
  width: 150px;
}
.btn-apply {
  width: 150px;
  height: 36px;
  line-height: 30px;
  margin-left: 47px;
  margin-top: 22px;

  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid white;
  color: #fff;
  display: block;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;

}
.sorting {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px 10px;
  height: 33px;
  color: #fff;
  outline: 0;
  display: block;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;  
  
}
.background-fatness {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px 10px;
  color: #fff;
  width: 350px;
  display: block;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;    
}
.background-fillers {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px 10px;
  color: #fff;
  width: 590px;

  display: block;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;   
}
.background-price {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px 10px;
  color: #fff;
  width: 170px;
  height: 22px;
  display: block;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;  
}
.fillers-form {
  width: 590px;

}
.paginator {
  width: 180px;
  margin-left: auto;
  margin-right: 5px;
  width: 220px;
  align-self: flex-start;
}
.paginator li {
  display: inline-block;

  list-style: none;
  position: relative;
  padding: 5px;
}
.paginator li:first-child {
  padding-right: 0;
}
.paginator .active {
  display: block;
  border-radius: 50%;
  padding: 0;

  text-align: center;
  width: 23px;
  height: 23px;
  line-height: 23px;
  background-color: #fff;
  color: black;
  
}
.arrow-left {
  background: url("../img/icons/arrow_left.png") no-repeat;
  width: 9px;
  height: 14px;
  
  border: 0;
  outline: 0;
}
  
.arrow-right {
  background: url("../img/icons/arrow_right.png") no-repeat ;
  border: 0;
  outline: 0;
  
  width: 9px;
  height: 14px;
}
.dividing-line {

  opacity: 0.3;
}

.name-filter {
  
  padding-left: 15px;
  
  
}
.active {
  display: block;
  width: 85px;
  height: 24px;
  line-height: 24px;
 
  background-color: #e74e37;
  text-align: center;
  color: #fff;
  
  
  border-top-left-radius: 27px;
  border-top-right-radius: 27px;
  border-bottom-left-radius: 27px;
  border-bottom-right-radius: 27px;
}
.basketform-block {
  position: absolute;
  top: 35%;
  right:0%;
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  color: #000;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  z-index: 1;
  box-shadow: 6px 16px 13px 0px rgba(50, 50, 50, 0.52);
  display: none;
}
.items-form {
  width: 100%;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;  
  border-bottom: 1px solid #cacac7;
}
.img-bsktform {

  margin-left: 10px;
}
.img-bsktform img {
  width: 30px;
  height: 30px;
}
.name-item-1 {
  margin-left: 10px;
}
.name-item-2 {
  margin-left: 10px;
  width: 220px;
}
.intotal {
  display: flex;
  flex-direction: column;
  width: 170px;
  margin-left: auto;
  margin-top: 15px;

}
.intotal-price {
  font-size: 18px;
  font-weight: 700;
  margin-left: auto;
  margin-bottom: 10px;
}
.row-1 {
  margin-bottom: 20px;
}
.name-item-1, .wt ,.price-forwt, .price-foritem{
  padding-top: 5px;
}
.row-2 {
  margin-bottom: 25px;

}
.row-1, .row-2 {
  display: flex;
  justify-content: space-between;
  align-self: baseline;
}
.wt {
  margin-left: auto;
}
.price-forwt {
  margin-right: auto;
  color: #999;
}
.name-total {

}


.btn-remove {
  
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: 0;
  font-size: 0;
  cursor: pointer;
}
.btn-1 {
  position: absolute;
  top: 29px;
  left: 13px;
}
.btn-2 {
  position: absolute;
  top: 79px;
  left: 13px;
}
.btn-formbasket {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 700;
  line-height: 43px;
  cursor: pointer;
  border: 0;
  color: #fff;
  width: 175px;
  height: 43px;
  margin-left: auto;
  background-color: #f06341;
  border-top-left-radius: 27px;
  border-top-right-radius: 27px;
  border-bottom-left-radius: 27px;
  border-bottom-right-radius: 27px;  
}

.btn-remove::before,
.btn-remove::after {
  position: absolute;
  top: 5px;
  left: 0px;
  content: "";
  width: 12px;
  height: 1px;
  background-color: #000;
}
.btn-remove::before {
  transform: rotate(45deg);
}
.btn-remove::after {
  transform: rotate(-45deg);
}

.item-catalog {
  position: relative;
  z-index: 0;
}
.hover-wrapper {
  
  position: absolute;
  top: -5%;
  left: -5%;
  width: 295px;
  height: 410px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  display: none;
  z-index: 2;
}
.btn-fast-view {
  position: absolute;
  
  bottom: 20px;
  left: 45px;
  display: block;
  text-align: center;
  width: 190px;
  height: 43px;
  line-height: 43px;
  background-color: #e84d37;
  border-top-left-radius: 27px;
  border-top-right-radius: 27px;
  border-bottom-left-radius: 27px;
  border-bottom-right-radius: 27px;
  z-index: 2;
}
.item-description-catalog a:hover {
  border-bottom: 0;
}
.img-item {
  z-index: 1;
}

.img-item:hover + .hover-wrapper {
  display: block;
  z-index: 0;
}

/*==================modal-content============================================*/

.modal-content {
  font-family: 'Roboto';
  position: absolute;
  display: none;
  top: 60%;
  left: 30%;
  color: #000;
  width: 450px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 6px 16px 13px 0px rgba(50, 50, 50, 0.52);

}
.form-fdbck {
  margin-top: 20px;
  display: flex;
  flex-direction: column;

}
.input-for-style-fdbck,
.review-modal {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
  margin-bottom: 20px;
}
.input-for-style-fdbck {
  width: 260px;
}
.review-modal {
  margin-bottom: 25px;
}

.title-modal {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}
.btn-modal-submit {
  font-family: 'Roboto';
  width: 150px;
  height: 43px;
  line-height: 43px;
  margin-left: auto;
  cursor: pointer;
  border: 0;
  background-color: #e74e37;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  box-shadow: 0px 1px 1px 1px rgba(158, 67, 52, 1);
  border-top-left-radius: 27px;
  border-top-right-radius: 27px;
  border-bottom-left-radius: 27px;
  border-bottom-right-radius: 27px;
}
.btn-modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  font-size: 0;
  border: 0;
  cursor: pointer;
}
.btn-modal-close::before,
.btn-modal-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 20px;
  height: 2px;
  background-color: #000;
  border-radius: 1px;
}
.btn-modal-close::before {
  transform: rotate(45deg);
}
.btn-modal-close::after {
  transform: rotate(-45deg);
}